<p id="notice"><%= notice %></p>
<% if @actor.stage_name != nil && !!@actor.stage_name.match(/[^\s]/) %>
  Also known as <%= @actor.stage_name %>
<% end %>
<p>
  <%= @actor.first %> <%= @actor.last %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @actor.birthday %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_actor_path(@actor) %> |
<% end %>
<%= link_to 'Back', actors_path %>
