<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :opening_day %><br>
    <%= f.date_select :opening_day %>
  </div>
  <div class="field">
    <%= f.label :teaser %><br>
    <%= f.text_area :teaser %>
  </div>
  <div class="movies_choose_genre">
    <% @movie_genres = @movie.genres %>
    <% @genres.each do |g| %>
      <div class="movies_choose_genre_div">
        <% if !!@movie_genres.detect {|m_genre| m_genre[:name] == g.name } %>
         <%= check_box_tag g.name, g.name, :checked => true, :class => "checkbox" %>
        <% else %>
         <%= check_box_tag g.name, g.name, false, :class => "checkbox" %>
        <% end %>
        <label><%= g.name %></label>
      </div>
    <% end %>
    <%= check_box_tag "all_checked", "true", false, :class => "checkbox_all" %>Check/Uncheck All<br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
