<%= form_for(movie.ratings.build, remote: true) do |f| %>
  <%= f.hidden_field :movie_id, value: movie.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label "Review" %>
  <%= f.text_area :review %> 
  <% i = 0 %>
  <% while(i < 10) %>
    <a class="star_<%i%>"><img src="assets/greystar.png"/></a>
    <% i += 1 %>
  <% end %>
  <%= f.submit %>
<% end %>
