<% if user_signed_in? %>
  <%= link_to 'Add movie to the listing', new_movie_path %>
<% end %>
<% i = 1 %>
<% @movies.each do |movie| %>
  <div id="movie">
    <div id="movie_name">
      <%= movie.name %>
    </div>
    <div id="movie_opening">
      <%= movie.opening_day %>
    </div>
    <div id="movie_teaser">
      <%= movie.teaser %>
    </div>
    <div id="movie_genres">
      <% movie.genres.each do |g| %>
        <%= g.name %> 
      <% end %>
    </div>
    <div id="movie_links">
      <%= link_to 'See More', movie %>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_movie_path(movie) %>
      <% end %>
      <%= link_to 'Flag', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% i += 1 %>
<% end %>

<br>
<% if i > 2 %>
  <% if user_signed_in? %>
    <%= link_to 'Be the first to add a movie', new_movie_path %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> to add your movie review.
  <% end %>
<% end %>
