<p id="notice"><%= notice %></p>

<p>
  <%= @movie.name %>
</p>

<p>
  <%= @movie.opening_day %>
</p>

<p>
  <%= @movie.teaser %>
</p>
<%= link_to @movie.user.chosen_name, @movie.user %>

<% @ratings = @movie.ratings %>
<% @ratings_users = @ratings.map { |r| r.user.id }%>
<% if current_user != nil %>
  <% if @ratings_users.include?(current_user.id) %>
  Already reviewed this movie...
  <% else %>
  Review this movie:
    <%= render partial: "movies/movie_rating", locals: { movie: @movie} %>
  <% end %>
<% end %>
<div id="movie_ratings">
  RATINGS:
 <%= render @ratings %>
</div>
<div id="movie_links">
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Back', movies_path %>
</div>
