<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.chosen_name, user %></td>
        <td><%= user.description %></td>
      <% if current_user.try(:admin?) || current_user.try(:id) == user.id %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !user_signed_in? %>
<%= link_to 'Register as new user', new_user_registration_path %>
<% end %>
