<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.chosen_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<div id="movie_ratings">
 <%= render @user.ratings %>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Other users', users_path %>
