<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.chosen_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<div id="movie_ratings">
 <%= render @user.ratings %>
</div>
<% if current_user.try(:admin?) || current_user.try(:id) == @user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Other users', users_path %>
