<div id="past_reviews_<%=rating.id%>">
  <div id="rating_stars">
  Stars:  <%= rating.stars %>
  </div>
  <div id="review">
  Review:<br>
    <%= simple_format h rating.review %>
  </div>
  <div id="rating_info">
    <% @user = User.find(rating.user_id) %>
    <%= rating.created_at %>, <%= link_to "#{@user.chosen_name}", @user %> 
  </div>
  <% if current_user.try(:admin?) || current_user.try(:id) == rating.user_id %>
    <%= link_to "edit", edit_rating_path(rating) %>
    <%= link_to "delete", rating, method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
</div>
