<div id="past_reviews_<%=rating.id%>">
  <div id="rating_stars">
  Stars:  <%= rating.stars %>
  </div>
  <div id="review">
  Review:<br>
    <%= rating.review %>
  </div>
  <div id="rating_info">
    <%= rating.created_at %> 
  </div>
  <% if current_user.try(:admin?) || current_user.try(:id) == rating.user_id %>
    <%= link_to "edit", edit_rating_path(rating) %>
    <%= link_to "delete", rating, method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
</div>
