<p id="notice"><%= notice %></p>

<p>
  <strong><%= link_to @rating.user.chosen_name, @rating.user %>'s Review for Movie:</strong>
  <%= Movie.find(@rating.movie_id).name %>
</p>

<p>
Stars: <%= @rating.stars %>
</p>
<p>
  <strong>Critique:</strong><br>
  <%= @rating.review %>
</p>

<% if current_user.try(:admin?) || current_user.try(:id) == @rating.user_id %>
  <%= link_to 'Edit', edit_rating_path(@rating) %> |
<% end %>
<%= link_to 'Back', @movie %>
